<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="map"></div>
    <script src="http://localhost:1234/clientside.js" type="module"></script>
  </body>
</html>
