<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/js/clientside.css' />
    <meta charset="utf-8" />
    <title>CotWeb</title>

    <script type="text/javascript">
     window.config = <%- JSON.stringify(config) %>
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/js/clientside.js"></script>
  </body>
</html>
